
<div class="home-hero">
  <h1>Welcome to DevLab</h1>
  <p class="lead">A minimal Rails app running in Docker. Use the links below to explore the sample data and developer workflows.</p>

  <div class="links">
    <ul>
      <li><%= link_to 'View Articles', articles_path, class: 'button' %></li>
      
    </ul>
  </div>


  <section class="hello">
    <fieldset class="sections">
      <legend>Say Hello</legend>
      <div data-controller="hello">
        <input data-hello-target="name" type="text">

        <button data-action="click->hello#greet">Greet</button>

        <span data-hello-target="output">
        </span>
      </div>
    </fieldset>
  </section>
</div>
